.container{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 47px;
  background-color: green;
  border: 3px solid green;
  border-radius: 45px;
}